*{
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    margin: 0;
    min-height: 100vh;
    grid-auto-flow: column;
    place-content: center;
    background: black;
}

.home{
    text-align: center;
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.button:hover{
    background-color: purple;
}

.container-fluid{
    background-color: lightblue; 
}

.Label{
    color: rgb(0, 0, 0);
}

.hr-100w{
    width: 100%;
    border: 2px solid white;
}

  /* card-1 */

.card{
    width: 190px;
    background: rgb(255, 255, 255);
    padding: .4em;
    border-radius: 6px;
    transition: all .3s;
    margin: 10px 20px 19px 20px;
}

.card-image{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
}

.category{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 10px 7px 0;
}

.heading{
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}
.author{
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

  /* card-2 */

.card-2 {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.heading-2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

  /* card-3 */

.card-3{
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

   /* card-4 */

.card-4{
    cursor: pointer;
    width: 190px;
    height: 254px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(6, 6, 31, 0.705);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(30, 2, 49, 0.979);
}

   /* card-5 */

.card-5{
    width: 190px;
    height: 254px;
    box-shadow: 0 3px 10px rgba(231, 229, 229, 0.2);
    position: relative;
    background-color:  white;
}

.remove-when-use{
    text-align: center;
    width: 100%;
    position: absolute;
    color: rgb(175, 145, 145);
    top: 85px;
    font-weight: bold;
}

.details{
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    height: 2.6em;
    transition: height .5s ease-in-out;
    padding: 0.6em;
    overflow: hidden;
}